{% block content %}
<!doctype html>
<html lang="es">
    <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}Login</title>
    {% load static %}    
    <link rel="stylesheet" href="{% static 'core/css/loginstyle.css' %}">
    
    </head>
    <body>
        <header class="sticky-header">
            <div class="logo">
                <img src="{% static 'core/img/BLANCO.png' %}" alt="Logo de la Empresa">
            </div>
            <div class="nombre-empresa">
                <a href="{% url 'home' %}">Tu Escapadita</a>
            </div>
        </header>
        <!--FORM LOGIN SABRI-->
        <section class="LOGIN" id="LOGINTAB">
            <div class="contenedor-login" id="contenedor-login">
                <div class="login-form" id="login-form">
                    <h1>INGRESÁ</h1>
                    <div class="login" id="login">
                        <form id="loginform">
                            <label for="usuario"></label>
                            <input id="usuario" type="text" name="usuario" placeholder="USUARIO" required>
                            <label for="password"></label>
                            <input id="password" type="password" placeholder="CONTRASEÑA" name="password" required>
                            <button type="submit" title="Ingresar" name="Ingresar">INGRESAR</button>
                        </form> 
                    </div>
                </div>
                <div class="registro-contenedor">
                    <div class="crear-cuenta">
                        <h1>¿NO TENÉS CUENTA? ¡HACETE UNA!</h1>
                        <a href="{% url 'registro' %}">
                            <button class="registro">CREAR CUENTA</button>
                        </a>                    
                    </div>
                </div>
            </div>    
        </section>
    </body>
</html>
{% endblock %}