{% extends "core/base.html" %}

{% load static %}

{% block content %}
<!--SECCION HOME (MARIEL)-->
<section class="HOME" id="HOME">
    <div class="slider-box">
        <ul>
            <li><img src="{% static 'core/img/bariloche1.jpg' %}" alt="vista diurna del teleférico del cerro Otto entre los picos nevados de Bariloche">
            </li>
            <li><img src="{% static 'core/img/termasriohondo.jpg' %}" alt="vista a nivel del piso, al amanecer, de piscina termal en complejo vacacional situado en las Termas de Rio Hondo">
            </li>
            <li><img src="{% static 'core/img/purmamarca1.jpg' %}" alt="vista diurna en primer plano de cactus y de fondo un pequeño poblado a los pies del Cerro de los 7 Colores">
            </li>
            <li><img src="{% static 'core/img/mardel1.jpg' %}" alt="vista aerea de las playas y los edificios de Mar del Plata al atardecer">
            </li>
        </ul>
    </div>
    <section class="textoslider">
        <div>
            <h2>¡Bienvenidx a Tu Escapadita!</h2>
            <p>¿Te quedaron días de vacaciones por tomarte o justo cae Feriado Puente y querés escaparte unos días de la rutina? Incluso si querés armarte 1 solo día, nosotros te ofrecemos al alcance de un click variedad de opciones para que puedas relajarte ese breve momento y cortar con la rutina ajetreada del día a día.</p>
        </div>
    </section>
</section>
<!--FIN SECCION HOME (MARIEL)-->
<!--SECCION PLANES (JOAQUIN Y MARIEL)-->
{{productcards}}
<section class="planes-section" id="PLANES">
    <div class="planes-content">
        <h1>Planes</h1>
        <h2>En caso que no tengas ganas o tiempo para pensartelo tanto, te dejamos los paquetes que más nos piden.</h2>
        <div class="planes-gallery">
          {% for productcard in productcards %}
            <div class="planes-product-card">
                <img src="{{productcard.image.url}}" alt="Producto 1">
                <h4>{{productcard.name}}</h4>
                <ul>
                    <li>{{productcard.time}}</li>
                    <li>{{productcard.building}}</li>
                    <li>{{productcard.buffet}}</li>
                    <li>{{productcard.pets}}</li>
                </ul>
                <a href="{% url 'reservar' %}" class="reservar-button">RESERVAR</a>
            </div>
            {% endfor %}
        </div>
</section>

<!--FIN SECCION PLANES (JOAQUIN y MARIEL)-->
<!--SECCION ARMALO (JOAQUIN)-->
<section class="armalo-section" id="ARMALO">
    <div class="armalo-contenedor">
    <div class="armalo-header">
      <h1 class="armalo-encabezado">¡Armalo!</h1>
      <p class="armalo-encabezado">Si las opciones de los packs no te convencen, ¡armalo vos mismx! Elegí lo que más prefieras y armá tu escapadita deseada.</p>
    </div>
    <div class="armalo-opciones">
      <div class="sliders-and-products">
        <div class="armalo-sliders">
          <h3 class="center-text">Selecciona tus preferencias:</h3>
          <div class="slider">
            <h4>Destino</h4>
            <input type="range" min="0" max="1" step="1" value="0" class="slider-input" id="slider1">
            <p id="destinoLabel">Playa</p>
          </div>
          <div class="slider">
            <h4>Cantidad de Personas</h4>
            <input type="range" min="1" max="4" value="2" class="slider-input" id="slider2">
            <p id="personasLabel">2 personas</p>
          </div>
          <div class="slider">
            <h4>Cantidad de Días</h4>
            <input type="range" min="1" max="7" step="2" value="3" class="slider-input" id="slider3">
            <p id="díasLabel">3 días</p>
          </div>
        </div>
        <div class="armalo-carousel">
          <!--FICHAS PLAYA-->
          <!--FICHAS 1 PERSONA-->
          <div class="product-card" data-destino="Playa" data-personas="1" data-días="1">
            <img src="{% static 'core/img/termasriohondo.jpg' %}" alt="paquete termas">
            <h4>Termas de Río Hondo</h4>
            <p>1 Día / 1 Noche -- Depto. p/1 Persona / Complejo. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Playa" data-personas="1" data-días="3">
            <img src="{% static 'core/img/mardel.jpeg' %}" alt="paquete mardel">
            <h4>Mar del Plata</h4>
            <p>3 Días / 2 Noches -- Depto. p/1 Persona / Centro. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Playa" data-personas="1" data-días="5">
            <img src="{% static 'core/img/termasriohondo.jpg' %}" alt="paquete termas">
            <h4>Termas de Río Hondo</h4>
            <p>5 Días / 4 Noches -- Depto. p/1 Persona / Complejo. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Playa" data-personas="1" data-días="7">
            <img src="{% static 'core/img/necochea.jpg' %}" alt="paquete necochea">
            <h4>Necochea</h4>
            <p>7 Días / 6 Noches -- Depto. p/1 Persona / Centro. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <!--FICHAS 2 PERSONAS-->
          <div class="product-card" data-destino="Playa" data-personas="2" data-días="1">
            <img src="{% static 'core/img/termasriohondo.jpg' %}" alt="paquete termas">
            <h4>Termas de Río Hondo</h4>
            <p>1 Día / 1 Noche -- Depto. p/2 Personas / Complejo. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Playa" data-personas="2" data-días="3">
            <img src="{% static 'core/img/mardel.jpeg' %}" alt="paquete mardel">
            <h4>Mar del Plata</h4>
            <p>3 Días / 2 Noches -- Depto. p/2 Personas / Centro. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Playa" data-personas="2" data-días="5">
            <img src="{% static 'core/img/termasriohondo.jpg' %}" alt="paquete termas">
            <h4>Termas de Río Hondo</h4>
            <p>5 Días / 4 Noches -- Depto. p/2 Personas / Complejo. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Playa" data-personas="2" data-días="7">
            <img src="{% static 'core/img/necochea.jpg' %}" alt="paquete necochea">
            <h4>Necochea</h4>
            <p>7 Días / 6 Noches -- Depto. p/2 Personas / Centro. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <!--FICHAS 3 PERSONAS-->
          <div class="product-card" data-destino="Playa" data-personas="3" data-días="1">
            <img src="{% static 'core/img/termasriohondo.jpg' %}" alt="paquete termas">
            <h4>Termas de Río Hondo</h4>
            <p>1 Día / 1 Noche -- Depto. p/3 Personas / Complejo. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Playa" data-personas="3" data-días="3">
            <img src="{% static 'core/img/mardel.jpeg' %}" alt="paquete mardel">
            <h4>Mar del Plata</h4>
            <p>3 Días / 2 Noches -- Depto. p/3 Personas / Centro. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Playa" data-personas="3" data-días="5">
            <img src="{% static 'core/img/termasriohondo.jpg' %}" alt="paquete termas">
            <h4>Termas de Río Hondo</h4>
            <p>5 Días / 4 Noches -- Depto. p/3 Personas / Complejo. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Playa" data-personas="3" data-días="7">
            <img src="{% static 'core/img/necochea.jpg' %}" alt="paquete necochea">
            <h4>Necochea</h4>
            <p>7 Días / 6 Noches -- Depto. p/3 Personas / Centro. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <!--FICHAS 4 PERSONAS-->
          <div class="product-card" data-destino="Playa" data-personas="4" data-días="1">
            <img src="{% static 'core/img/termasriohondo.jpg' %}" alt="paquete termas">
            <h4>Termas de Río Hondo</h4>
            <p>1 Día / 1 Noche -- Depto. p/4 Personas / Complejo. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Playa" data-personas="4" data-días="3">
            <img src="{% static 'core/img/mardel.jpeg' %}" alt="paquete mardel">
            <h4>Mar del Plata</h4>
            <p>3 Días / 2 Noches -- Depto. p/4 Personas / Centro. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Playa" data-personas="4" data-días="5">
            <img src="{% static 'core/img/mardel.jpeg' %}" alt="paquete mardel">
            <h4>Mar del Plata</h4>
            <p>5 Días / 4 Noches -- Depto. p/4 Personas / Centro. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Playa" data-personas="4" data-días="7">
            <img src="{% static 'core/img/necochea.jpg' %}" alt="paquete necochea">
            <h4>Necochea</h4>
            <p>7 Días / 6 Noches -- Depto. p/4 Personas / Centro. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <!--FICHAS MONTAÑA-->
          <!--FICHAS 1 PERSONA-->
          <div class="product-card" data-destino="Montaña" data-personas="1" data-días="1">
            <img src="{% static 'core/img/tandil.jfif' %}" alt="paquete tandil">
            <h4>Tandil</h4>
            <p>1 Día / 1 Noche -- Cabaña p/1 Persona - Centro. -- Buffet NO Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Montaña" data-personas="1" data-días="3">
            <img src="{% static 'core/img/sierraventana.jpg' %}" alt="paquete sierra de la ventana">
            <h4>Sierra de la Ventana</h4>
            <p>3 Días / 2 Noches -- Cabaña p/1 Persona - Centro. -- Buffet NO Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Montaña" data-personas="1" data-días="5">
            <img src="{% static 'core/img/purmamarca.jpg' %}" alt="paquete purmamarca">
            <h4>Purmamarca</h4>
            <p>5 Días / 4 Noches -- PH p/1 Persona / Centro. -- Buffet NO Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Montaña" data-personas="1" data-días="7">
            <img src="{% static 'core/img/bariloche.jpg' %}" alt="paquete bariloche">
            <h4>Bariloche</h4>
            <p>7 Días / 6 Noches -- Hab. Hotel p/1 Persona / Centro. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <!--FICHAS 2 PERSONAS-->
          <div class="product-card" data-destino="Montaña" data-personas="2" data-días="1">
            <img src="{% static 'core/img/tandil.jfif' %}" alt="paquete tandil">
            <h4>Tandil</h4>
            <p>1 Día / 1 Noche -- Cabaña p/2 Personas - Centro. -- Buffet NO Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Montaña" data-personas="2" data-días="3">
            <img src="{% static 'core/img/sierraventana.jpg' %}" alt="paquete sierra de la ventana">
            <h4>Sierra de la Ventana</h4>
            <p>3 Días / 2 Noches -- Cabaña p/2 Personas - Centro. -- Buffet NO Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Montaña" data-personas="2" data-días="5">
            <img src="{% static 'core/img/purmamarca.jpg' %}" alt="paquete purmamarca">
            <h4>Purmamarca</h4>
            <p>5 Días / 4 Noches -- PH p/2 Personas / Centro. -- Buffet NO Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Montaña" data-personas="2" data-días="7">
            <img src="{% static 'core/img/bariloche.jpg' %}" alt="paquete bariloche">
            <h4>Bariloche</h4>
            <p>7 Días / 6 Noches -- Hab. Hotel p/2 Personas / Centro. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <!--FICHAS 3 PERSONAS-->
          <div class="product-card" data-destino="Montaña" data-personas="3" data-días="1">
            <img src="{% static 'core/img/tandil.jfif' %}" alt="paquete tandil">
            <h4>Tandil</h4>
            <p>1 Día / 1 Noche -- Cabaña p/3 Personas - Centro. -- Buffet NO Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Montaña" data-personas="3" data-días="3">
            <img src="{% static 'core/img/sierraventana.jpg' %}" alt="paquete sierra de la ventana">
            <h4>Sierra de la Ventana</h4>
            <p>3 Días / 2 Noches -- Cabaña p/3 Personas - Centro. -- Buffet NO Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Montaña" data-personas="3" data-días="5">
            <img src="{% static 'core/img/purmamarca.jpg' %}" alt="paquete purmamarca">
            <h4>Purmamarca</h4>
            <p>5 Días / 4 Noches -- PH p/3 Personas / Centro. -- Buffet NO Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Montaña" data-personas="3" data-días="7">
            <img src="{% static 'core/img/bariloche.jpg' %}" alt="paquete bariloche">
            <h4>Bariloche</h4>
            <p>7 Días / 6 Noches -- Hab. Hotel p/3 Personas / Centro. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <!--FICHAS 4 PERSONAS-->
          <div class="product-card" data-destino="Montaña" data-personas="4" data-días="1">
            <img src="{% static 'core/img/tandil.jfif' %}" alt="paquete tandil">
            <h4>Tandil</h4>
            <p>1 Día / 1 Noche -- Cabaña p/4 Personas - Centro. -- Buffet NO Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Montaña" data-personas="4" data-días="3">
            <img src="{% static 'core/img/sierraventana.jpg' %}" alt="paquete sierra de la ventana">
            <h4>Sierra de la Ventana</h4>
            <p>3 Días / 2 Noches -- Cabaña p/4 Personas - Centro. -- Buffet NO Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Montaña" data-personas="4" data-días="5">
            <img src="{% static 'core/img/purmamarca.jpg' %}" alt="paquete purmamarca">
            <h4>Purmamarca</h4>
            <p>5 Días / 4 Noches -- PH p/4 Personas / Centro. -- Buffet NO Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <div class="product-card" data-destino="Montaña" data-personas="4" data-días="7">
            <img src="{% static 'core/img/bariloche.jpg' %}" alt="paquete bariloche">
            <h4>Bariloche</h4>
            <p>7 Días / 6 Noches -- Hab. Hotel p/3 Personas / Centro. -- Buffet Incluido. -- Se permiten mascotas.</p>
            <button class="reserve-button">RESERVAR</button>
          </div>
          <!--FIN FICHAS-->
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'core/js/ScriptRangeJoaco.js' %}"></script>
  </section>
  <!--FIN SECCION ARMALO (JOAQUIN)-->
  <!--SECCION CONTACTANOS (SABRI)-->
  <section class="contactanos-contenedor" id="CONTACTANOS">
    <div class="contactanos-contenido">
      <h2 class="encabezado-form">Contactanos</h2>
      <p class="encabezado-form">¿Te interesa armar paquetes más amplios o planificar tus vacaciones con nosotrxs?¡Rellená el formulario y unx de nuestrxs asesores se va a estar comunicando!</p>
      <form class="form" action="tu_script_de_procesamiento.php" method="post">
        <div class="left">
            <p class="texto-form">Nombre Completo</p>
          <input type="text" placeholder="Nombre Completo" name="nombre" required>
          <p class="texto-form">Fecha de Nacimiento</p>
          <input type="text" placeholder="Fecha de Nacimiento" name="fecha_nacimiento" required>
          <p class="texto-form">Teléfono</p>
          <input type="text" placeholder="Teléfono" name="telefono" required>
          <p class="texto-form">Email</p>
          <input type="email" placeholder="Email" name="email" required>
        </div>
        <div class="right">
            <p class="texto-form">Contanos qué necesitas</p>
          <textarea placeholder="Escribe tu mensaje aquí" name="mensaje" rows="4" required></textarea>
          <button type="submit">ENVIAR</button>
        </div>
      </form>
    </div>
    <script src="{% static 'core/js/ScriptValidacionFormSabri.js' %}"></script>
</section>
  <!--FIN SECCION CONTACTANOS (SABRI)-->
  <!--FOOTER (SABRI)-->
  <footer id="NOSOTRXS">
    <section class="contenedor-footer">
      <h1>¡SEGUINOS EN NUESTRAS REDES Y ETIQUETANOS EN LAS FOTOS DE TU ESCAPADITA!</h1>
      <div class="imagenes-footer">
        <img src="{% static 'core/img/footer copia.png' %}" class="img-pie" alt="Imagen 1">
        <a href="https://twitter.com/home?lang=es" target="_blank">
            <img src="{% static 'core/img/twitter.png' %}" class="img-superpuesta1" alt="twitter">
            <p class="txt-superpuesto1">@tuescapaditaARG</p>
        </a>
        <a href="https://www.facebook.com/?locale=es_LA" target="_blank">
            <img src="{% static 'core/img/fb.png' %}" class="img-superpuesta2" alt="facebook">
            <p class="txt-superpuesto2">/tuescapaditaARG</p>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <img src="{% static 'core/img/insta.png' %}" class="img-superpuesta3" alt="instagram">
            <p class="txt-superpuesto3">@tuescapaditaARG</p>
        </a>
        <p class="txt-superpuesto4">© TODOS LOS DERECHOS E IZQUIERDOS RESERVADOS</p>
      </div>
    </section>
  </footer>
  <!--FIN FOOTER (SABRI)-->
{% endblock %}
